.rectangleDiv,
.rectangleDiv1,
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 0;
  right: 25%;
  bottom: 75%;
  left: 50%;
  background-color: var(--white);
}
.rectangleDiv1,
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4 {
  top: 50%;
  right: 0;
  bottom: 25%;
  left: 75%;
}
.rectangleDiv2,
.rectangleDiv3,
.rectangleDiv4 {
  top: 25%;
  bottom: 50%;
}
.rectangleDiv3,
.rectangleDiv4 {
  top: 0;
  bottom: 75%;
}
.rectangleDiv4 {
  top: 50%;
  right: 25%;
  bottom: 25%;
  left: 50%;
}
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8,
.rectangleDiv9 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 25%;
  right: 50%;
  bottom: 50%;
  left: 25%;
  background-color: var(--white);
}
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8,
.rectangleDiv9 {
  right: 75%;
  left: 0;
}
.rectangleDiv7,
.rectangleDiv8,
.rectangleDiv9 {
  top: 50%;
  bottom: 25%;
}
.rectangleDiv8,
.rectangleDiv9 {
  top: 75%;
  bottom: 0;
}
.rectangleDiv9 {
  right: 50%;
  left: 25%;
}
.logoDiv,
.unionDiv {
  position: relative;
  width: 16px;
  height: 16px;
}
.unionDiv {
  background-color: var(--white);
}
.logoDiv {
  flex-shrink: 0;
}
.eliasB {
  position: relative;
  display: inline-block;
}
.frameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  cursor: pointer;
}
.rectangleDiv10,
.rectangleDiv11,
.rectangleDiv12 {
  position: absolute;
  top: 5px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 24px;
  height: 1px;
}
.rectangleDiv11,
.rectangleDiv12 {
  top: 12px;
}
.rectangleDiv12 {
  top: 19px;
}
.frameDiv1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
}
.headerDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  width: 360px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-md) var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.webDesignerSpan {
  color: var(--primary);
}
.eliasIsAWebDesignerAndFr,
.heCraftsResponsiveWebsites {
  position: absolute;
  left: 16px;
  display: inline-block;
  width: 328px;
}
.eliasIsAWebDesignerAndFr {
  top: 82px;
  font-size: var(--font-size-xl);
  font-weight: 600;
}
.heCraftsResponsiveWebsites {
  top: 275px;
  color: var(--gray);
}
.liveDiv {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.buttonDiv {
  position: absolute;
  top: 341px;
  left: -390px;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.logoIcon {
  position: absolute;
  top: 55.6px;
  left: 0;
  width: 105.43px;
  height: 105.43px;
}
.imageRemovebgPreview2Icon {
  position: absolute;
  top: 0;
  left: 8.09px;
  width: 307.91px;
  height: 260.08px;
  object-fit: cover;
}
.ellipseIcon {
  position: relative;
  width: 4px;
  height: 4px;
  flex-shrink: 0;
}
.dotsDiv,
.frameDiv2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv2 {
  align-self: stretch;
  flex-direction: row;
}
.dotsDiv {
  position: absolute;
  top: 165.75px;
  left: 248.62px;
  width: 56.6px;
  height: 56.6px;
  flex-direction: column;
}
.groupDiv {
  position: absolute;
  top: 341px;
  left: 22px;
  width: 316px;
  height: 260.08px;
}
.rectangleDiv13 {
  position: relative;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.currentlyWorkingOn {
  font-weight: 500;
}
.portfolioSpan {
  font-weight: 600;
  color: var(--white);
}
.currentlyWorkingOnPortfolio {
  flex: 1;
  position: relative;
  display: inline-block;
}
.burgerDiv,
.frameDiv7 {
  background-color: var(--background);
}
.frameDiv7 {
  position: absolute;
  top: 601px;
  left: 20px;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  color: var(--gray);
}
.burgerDiv {
  position: relative;
  width: 100%;
  height: 706px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-fira-code);
}
