.nameDiv {
  position: relative;
  display: inline-block;
}
.frameDiv1 {
  flex: 1;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  padding: var(--padding-sm);
}
.frameDiv,
.frameDiv1,
.frameDiv3,
.frameDiv4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  width: 504.98px;
  gap: var(--gap-xl);
}
.frameDiv3,
.frameDiv4 {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 505px;
  padding: var(--padding-sm);
}
.frameDiv4 {
  height: 119px;
  flex-shrink: 0;
}
.liveDiv {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.buttonDiv,
.contactsDiv {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonDiv {
  border: 1px solid var(--primary);
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  color: var(--white);
}
.contactsDiv {
  position: relative;
  background-color: var(--background);
  width: 100%;
  flex-direction: column;
  padding: var(--padding-lg);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--gray);
  font-family: var(--font-fira-code);
}
