.ellipseIcon {
  position: relative;
  width: 4px;
  height: 4px;
  flex-shrink: 0;
}
.frameDiv1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv {
  top: 1622px;
  left: 1363px;
  width: 103px;
  height: 103px;
}
.frameDiv,
.frameDiv12,
.frameDiv6 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv6 {
  top: 2033px;
  left: 26px;
  width: 103px;
  height: 103px;
}
.frameDiv12 {
  top: 283px;
  left: 31px;
}
.rectangleDiv,
.rectangleDiv1,
.rectangleDiv2 {
  position: absolute;
  top: 1453px;
  left: 0;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 155px;
  height: 155px;
}
.rectangleDiv1,
.rectangleDiv2 {
  top: 488px;
  left: 1375px;
}
.rectangleDiv2 {
  top: 0;
  left: 1361px;
  width: 91px;
  height: 91px;
}
.backgroundDiv {
  position: absolute;
  top: 672px;
  left: -77px;
  width: 1530px;
  height: 2136px;
}
.lineDiv {
  position: relative;
  border-top: 1px solid var(--gray);
  box-sizing: border-box;
  width: 1367px;
  height: 1px;
  flex-shrink: 0;
}
.eliasB {
  position: absolute;
  top: 0;
  left: 31.43%;
  display: inline-block;
}
.rectangleDiv3,
.rectangleDiv4 {
  position: absolute;
  height: 25%;
  width: 25%;
}
.rectangleDiv3 {
  top: 0;
  right: 25%;
  bottom: 75%;
  left: 50%;
  background-color: var(--white);
}
.rectangleDiv4 {
  top: 50%;
  bottom: 25%;
}
.rectangleDiv4,
.rectangleDiv5,
.rectangleDiv6 {
  right: 0;
  left: 75%;
  background-color: var(--white);
}
.rectangleDiv5 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 25%;
  bottom: 50%;
}
.rectangleDiv6 {
  top: 0;
  bottom: 75%;
}
.rectangleDiv6,
.rectangleDiv7,
.rectangleDiv8 {
  position: absolute;
  height: 25%;
  width: 25%;
}
.rectangleDiv7 {
  top: 50%;
  right: 25%;
  bottom: 25%;
  left: 50%;
  background-color: var(--white);
}
.rectangleDiv8 {
  right: 50%;
  left: 25%;
}
.rectangleDiv8,
.rectangleDiv9 {
  top: 25%;
  bottom: 50%;
  background-color: var(--white);
}
.rectangleDiv10,
.rectangleDiv11,
.rectangleDiv9 {
  position: absolute;
  height: 25%;
  width: 25%;
  right: 75%;
  left: 0;
}
.rectangleDiv10 {
  top: 50%;
  bottom: 25%;
  background-color: var(--white);
}
.rectangleDiv11 {
  top: 75%;
  bottom: 0;
}
.rectangleDiv11,
.rectangleDiv12,
.unionDiv {
  background-color: var(--white);
}
.rectangleDiv12 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 75%;
  right: 50%;
  bottom: 0;
  left: 25%;
}
.unionDiv {
  position: relative;
  width: 24px;
  height: 24px;
}
.groupDiv1,
.logoDiv {
  position: absolute;
  height: 77.42%;
  width: 22.86%;
  top: 12.9%;
  right: 77.14%;
  bottom: 9.68%;
  left: 0;
}
.groupDiv1 {
  height: 34.83%;
  width: 22.06%;
  top: 0;
  right: 77.94%;
  bottom: 65.17%;
  font-size: var(--font-size-lg);
}
.webDesignerAndFrontEndDev {
  position: absolute;
  width: 100%;
  top: 52.81%;
  left: 0;
  display: inline-block;
}
.eliaseliasmlDiv {
  position: absolute;
  top: 5.62%;
  left: 28.78%;
  color: var(--gray);
  display: inline-block;
}
.groupDiv {
  position: relative;
  width: 476px;
  height: 89px;
  flex-shrink: 0;
}
.groupIcon,
.mediaDiv {
  position: absolute;
  left: 0;
}
.mediaDiv {
  top: 0;
  font-weight: 500;
  display: inline-block;
}
.groupIcon {
  height: 42.67%;
  width: 100%;
  top: 57.33%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv2 {
  position: relative;
  width: 112px;
  height: 75px;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
}
.frameDiv19 {
  width: 1025px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.copyright2022MadeByElias {
  position: relative;
  color: var(--gray);
  display: inline-block;
}
.footerDiv,
.frameDiv18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.footerDiv {
  position: absolute;
  bottom: 0;
  left: calc(50% - 685.5px);
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.div,
.projectsDiv {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.projectsDiv {
  color: var(--white);
}
.frameDiv20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.line7Stroke {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.groupDiv3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 317px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.imInterestedInFreelanceOp {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
  display: inline-block;
  width: 505px;
}
.groupDiv4 {
  position: absolute;
  top: 87px;
  left: 0;
  width: 505px;
  height: 63px;
  color: var(--gray);
}
.messageMeHere {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.discordIcon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.eliasDiv {
  position: relative;
  display: inline-block;
}
.frameDiv21,
.frameDiv22,
.groupDiv6 {
  display: flex;
  justify-content: flex-start;
}
.groupDiv6 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.frameDiv21,
.frameDiv22 {
  flex-direction: column;
  align-items: flex-start;
}
.frameDiv22 {
  gap: var(--gap-sm);
  color: var(--gray);
}
.frameDiv21 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  padding: var(--padding-md);
  gap: var(--gap-xl);
}
.contactDiv,
.groupDiv5 {
  position: absolute;
  top: 87px;
  left: 819px;
  width: 204px;
  height: 141px;
  color: var(--white);
}
.contactDiv {
  top: 2611px;
  left: 170px;
  width: 1023px;
  height: 228px;
  color: var(--primary);
}
.helloImElias {
  margin-block-start: 0;
  margin-block-end: 0;
}
.transformingMyCreativity {
  margin: 0;
}
.helloImEliasImASelfT {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 515px;
}
.buttonDiv {
  position: absolute;
  top: 279px;
  left: 0;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white);
}
.aboutMeDiv1 {
  position: absolute;
  top: 90px;
  left: 1px;
  width: 515px;
  height: 316px;
}
.groupDiv8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 516px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
  color: var(--primary);
}
.jcGellidonE3NUmCScugoUnsplaIcon {
  position: absolute;
  top: 0;
  left: 4px;
  width: 339px;
  height: 507px;
  object-fit: cover;
}
.frameDiv24 {
  position: absolute;
  top: 59px;
  left: 0;
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
}
.frameDiv24,
.frameDiv30,
.frameDiv34 {
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv34 {
  align-self: stretch;
  display: none;
  flex-direction: row;
}
.frameDiv30 {
  position: absolute;
  top: 279px;
  left: 223px;
  width: 104px;
  height: 56px;
  display: flex;
  flex-direction: column;
}
.line7Stroke2 {
  position: absolute;
  top: 507px;
  left: 48px;
  width: 271px;
  height: 1px;
}
.aboutMeDiv,
.groupDiv9 {
  position: absolute;
  top: 0;
  left: 682px;
  width: 343px;
  height: 508px;
}
.aboutMeDiv {
  top: 1991px;
  left: 170px;
  width: 1025px;
  color: var(--gray);
}
.groupDiv10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 391px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frameDiv37,
.lineDiv1 {
  align-self: stretch;
  box-sizing: border-box;
}
.frameDiv37 {
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
}
.lineDiv1 {
  position: relative;
  border-top: 1px solid var(--gray);
  height: 1px;
  flex-shrink: 0;
}
.luaDiv1 {
  position: relative;
  display: none;
}
.frameDiv39,
.frameDiv41 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv39 {
  display: flex;
  gap: var(--gap-sm);
}
.frameDiv41 {
  display: none;
  gap: var(--gap-lg);
}
.blockDiv,
.frameDiv38 {
  box-sizing: border-box;
  flex-direction: column;
  gap: var(--gap-sm);
}
.frameDiv38 {
  display: flex;
  padding: 0 var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray);
}
.blockDiv {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid var(--gray);
  padding: var(--padding-sm) 0;
}
.blockDiv,
.frameDiv43,
.frameDiv55 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv43 {
  position: absolute;
  top: 0;
  left: 194px;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-sm) 0;
  gap: var(--gap-sm);
}
.frameDiv55 {
  flex-direction: row;
  gap: var(--gap-lg);
}
.frameDiv50 {
  top: 148px;
  left: 388px;
  width: 196px;
}
.frameDiv50,
.frameDiv57,
.frameDiv64 {
  position: absolute;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frameDiv57 {
  top: 119px;
  left: 194px;
  width: 178px;
}
.frameDiv64 {
  top: 0;
  left: 388px;
}
.groupDiv11 {
  position: absolute;
  top: 85px;
  left: 440px;
  width: 584px;
  height: 280px;
  font-size: var(--font-size-base);
  color: var(--white);
}
.frameDiv71,
.frameDiv77 {
  position: absolute;
  top: 38px;
  left: 0;
  width: 63px;
  height: 63px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv77 {
  top: 143px;
  left: 177px;
}
.rectangleDiv13,
.rectangleDiv14 {
  position: absolute;
  top: 193px;
  left: 297px;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 52px;
  height: 52px;
}
.rectangleDiv14 {
  top: 0;
  left: 227px;
  width: 86px;
  height: 86px;
}
.logoIcon {
  position: absolute;
  top: 169px;
  left: calc(50% - 160.5px);
  width: 114px;
  height: 114px;
}
.groupDiv12,
.skillsDiv {
  position: absolute;
  top: 54px;
  left: 32px;
  width: 349px;
  height: 282px;
}
.skillsDiv {
  top: 1514px;
  left: 173px;
  width: 1024px;
  height: 365px;
  font-size: var(--font-size-xl);
  color: var(--primary);
}
.rectangleIcon {
  position: relative;
  width: 330.58px;
  height: 202px;
  flex-shrink: 0;
  object-fit: cover;
}
.frameDiv84,
.frameDiv85 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frameDiv84 {
  display: flex;
}
.frameDiv85 {
  display: none;
}
.chertNodesDiv,
.minecraftServersHosting {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.chertNodesDiv {
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.minecraftServersHosting {
  color: var(--gray);
}
.frameDiv88 {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-md);
}
.frameDiv87,
.frameDiv88,
.frameDiv89 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv89 {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  padding: var(--padding-sm) var(--padding-md);
  color: var(--gray);
}
.frameDiv87 {
  gap: var(--gap-xl);
}
.frameDiv86,
.projectDiv {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.frameDiv86 {
  align-self: stretch;
  border-top: 1px solid var(--gray);
  border-right: 0 solid var(--gray);
  border-bottom: 0 solid var(--gray);
  border-left: 0 solid var(--gray);
  padding: var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--white);
}
.projectDiv {
  border: 1px solid var(--gray);
  gap: var(--gap-0);
}
.frameDiv83,
.frameDiv95,
.groupDiv13,
.projectDiv {
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv95 {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  color: var(--gray);
}
.frameDiv83,
.groupDiv13 {
  display: flex;
}
.groupDiv13 {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-0);
}
.frameDiv83 {
  top: 90px;
  left: 2px;
  flex-direction: row;
  gap: var(--gap-xl);
}
.frameDiv83,
.h2Div,
.viewAll {
  position: absolute;
}
.h2Div {
  top: 0;
  left: 0;
  width: 701px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.viewAll {
  top: 10px;
  left: 911px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--white);
  display: inline-block;
  cursor: pointer;
}
.groupDiv15,
.projectsDiv3 {
  position: absolute;
  width: 1027px;
}
.groupDiv15 {
  top: 0;
  left: 0;
  height: 42px;
  font-size: var(--font-size-xl);
  color: var(--primary);
}
.projectsDiv3 {
  top: 890px;
  left: 171px;
  height: 518px;
  color: var(--gray);
}
.webDesignerSpan {
  color: var(--primary);
}
.eliasIsAWebDesignerAndFr {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: inline-block;
  width: 537px;
}
.heCraftsResponsiveWebsites {
  position: absolute;
  top: 116px;
  left: 0;
  line-height: 25px;
  color: var(--gray);
  display: inline-block;
  width: 463px;
}
.buttonDiv1 {
  position: absolute;
  top: 190px;
  left: 0;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.groupDiv16,
.logoIcon1 {
  position: absolute;
  top: 74px;
  left: 0;
  width: 537px;
  height: 227px;
}
.logoIcon1 {
  top: 83px;
  width: 156px;
  height: 156px;
}
.imageRemovebgPreview2Icon {
  position: absolute;
  top: 0;
  left: 12px;
  width: 457px;
  height: 386px;
  object-fit: cover;
}
.dotsDiv {
  position: absolute;
  top: 246px;
  left: 369px;
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.groupDiv17 {
  position: absolute;
  top: 0;
  left: 555px;
  width: 469px;
  height: 386px;
}
.rectangleDiv15 {
  position: relative;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.currentlyWorkingOn {
  font-weight: 500;
}
.portfolioSpan {
  font-weight: 600;
  color: var(--white);
}
.frameDiv108 {
  position: absolute;
  top: 386px;
  left: 586px;
  background-color: var(--background);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 402px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  color: var(--gray);
}
.firstDiv {
  position: absolute;
  top: 123px;
  left: 171px;
  width: 1024px;
  height: 423px;
}
.withGreatPowerComesGreatE {
  position: relative;
  font-weight: 500;
  display: inline-block;
  z-index: 0;
}
.icon {
  position: relative;
  width: 25.47px;
  height: 20.7px;
  flex-shrink: 0;
}
.frameDiv109 {
  margin: 0 !important;
  top: -14px;
  left: 11px;
  background-color: var(--background);
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-sm);
  z-index: 1;
}
.frameDiv109,
.frameDiv110,
.frameDiv111,
.quoteDiv {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv110 {
  margin: 0 !important;
  top: 94px;
  right: 0;
  border: 1px solid var(--gray);
  flex-direction: row;
  padding: var(--padding-md);
  z-index: 2;
}
.frameDiv111,
.quoteDiv {
  background-color: var(--background);
}
.frameDiv111 {
  margin: 0 !important;
  top: 80px;
  right: 16.53px;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-sm);
  z-index: 3;
}
.quoteDiv {
  top: 658px;
  left: 326px;
  border: 1px solid var(--gray);
  flex-direction: row;
  padding: var(--padding-lg);
  gap: var(--gap-md);
  font-size: var(--font-size-lg);
}
.logoDiv1,
.unionDiv1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.unionDiv1 {
  background-color: var(--white);
}
.logoDiv1 {
  flex-shrink: 0;
}
.frameDiv112,
.headerLinkDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
  cursor: pointer;
}
.headerLinkDiv {
  align-items: flex-start;
  gap: var(--gap-0);
}
.eNDiv {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 0;
}
.groupIcon1 {
  position: relative;
  width: 10px;
  height: 6.41px;
  flex-shrink: 0;
  z-index: 1;
}
.frameDiv114 {
  margin: 0 !important;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: var(--background);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  height: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  opacity: 0;
  z-index: 2;
}
.languageSwitcherDiv {
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-2xs);
  color: var(--gray);
}
.frameDiv113,
.headerDiv,
.languageSwitcherDiv {
  display: flex;
  flex-direction: row;
}
.frameDiv113 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  color: var(--primary);
}
.headerDiv {
  position: absolute;
  top: 0;
  left: 171px;
  background-color: var(--background);
  width: 1024px;
  padding: var(--padding-lg) 0 var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.line10Stroke {
  position: relative;
  width: 1px;
  height: 191px;
  flex-shrink: 0;
}
.frameDiv115 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.homeDiv,
.mediaDiv1 {
  background-color: var(--background);
}
.mediaDiv1 {
  position: absolute;
  top: 0;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.homeDiv {
  position: relative;
  width: 100%;
  height: 3192px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-fira-code);
}
