.ellipseIcon {
  position: relative;
  width: 4px;
  height: 4px;
  flex-shrink: 0;
}
.frameDiv1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv,
.frameDiv6 {
  position: absolute;
  width: 103px;
  height: 103px;
  display: flex;
  flex-direction: column;
}
.frameDiv {
  top: 1134px;
  left: 1363px;
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv6 {
  top: 1545px;
  left: 26px;
}
.frameDiv12,
.frameDiv16,
.frameDiv6 {
  align-items: flex-start;
  justify-content: space-between;
}
.frameDiv16 {
  align-self: stretch;
  display: none;
  flex-direction: row;
}
.frameDiv12 {
  position: absolute;
  top: 145px;
  left: 46px;
  width: 109px;
  height: 49px;
  display: flex;
  flex-direction: column;
}
.rectangleDiv,
.rectangleDiv1 {
  position: absolute;
  top: 965px;
  left: 0;
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 155px;
  height: 155px;
}
.rectangleDiv1 {
  top: 0;
  left: 1375px;
}
.backgroundDiv {
  position: absolute;
  top: 256px;
  left: -77px;
  width: 1530px;
  height: 1648px;
}
.lineDiv {
  position: relative;
  border-top: 1px solid var(--gray);
  box-sizing: border-box;
  width: 1367px;
  height: 1px;
  flex-shrink: 0;
}
.eliasB {
  position: absolute;
  top: 0;
  left: 31.43%;
  display: inline-block;
}
.rectangleDiv2,
.rectangleDiv3 {
  position: absolute;
  height: 25%;
  width: 25%;
}
.rectangleDiv2 {
  top: 0;
  right: 25%;
  bottom: 75%;
  left: 50%;
  background-color: var(--white);
}
.rectangleDiv3 {
  top: 50%;
  bottom: 25%;
}
.rectangleDiv3,
.rectangleDiv4,
.rectangleDiv5 {
  right: 0;
  left: 75%;
  background-color: var(--white);
}
.rectangleDiv4 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 25%;
  bottom: 50%;
}
.rectangleDiv5 {
  top: 0;
  bottom: 75%;
}
.rectangleDiv5,
.rectangleDiv6,
.rectangleDiv7 {
  position: absolute;
  height: 25%;
  width: 25%;
}
.rectangleDiv6 {
  top: 50%;
  right: 25%;
  bottom: 25%;
  left: 50%;
  background-color: var(--white);
}
.rectangleDiv7 {
  right: 50%;
  left: 25%;
}
.rectangleDiv7,
.rectangleDiv8 {
  top: 25%;
  bottom: 50%;
  background-color: var(--white);
}
.rectangleDiv10,
.rectangleDiv8,
.rectangleDiv9 {
  position: absolute;
  height: 25%;
  width: 25%;
  right: 75%;
  left: 0;
}
.rectangleDiv9 {
  top: 50%;
  bottom: 25%;
  background-color: var(--white);
}
.rectangleDiv10 {
  top: 75%;
  bottom: 0;
}
.rectangleDiv10,
.rectangleDiv11,
.unionDiv {
  background-color: var(--white);
}
.rectangleDiv11 {
  position: absolute;
  height: 25%;
  width: 25%;
  top: 75%;
  right: 50%;
  bottom: 0;
  left: 25%;
}
.unionDiv {
  position: relative;
  width: 24px;
  height: 24px;
}
.groupDiv1,
.logoDiv {
  position: absolute;
  height: 77.42%;
  width: 22.86%;
  top: 12.9%;
  right: 77.14%;
  bottom: 9.68%;
  left: 0;
}
.groupDiv1 {
  height: 34.83%;
  width: 22.06%;
  top: 0;
  right: 77.94%;
  bottom: 65.17%;
  font-size: var(--font-size-lg);
}
.webDesignerAndFrontEndDev {
  position: absolute;
  width: 100%;
  top: 52.81%;
  left: 0;
  display: inline-block;
}
.eliaseliasmlDiv {
  position: absolute;
  top: 5.62%;
  left: 28.78%;
  color: var(--gray);
  display: inline-block;
}
.groupDiv {
  position: relative;
  width: 476px;
  height: 89px;
  flex-shrink: 0;
}
.groupIcon,
.mediaDiv {
  position: absolute;
  left: 0;
}
.mediaDiv {
  top: 0;
  font-weight: 500;
  display: inline-block;
}
.groupIcon {
  height: 42.67%;
  width: 100%;
  top: 57.33%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupDiv2 {
  position: relative;
  width: 112px;
  height: 75px;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
}
.frameDiv19 {
  width: 1025px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.copyright2022MadeByElias {
  position: relative;
  color: var(--gray);
  display: inline-block;
}
.footerDiv,
.frameDiv18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.footerDiv {
  position: absolute;
  bottom: 0;
  left: calc(50% - 682.5px);
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-2xl);
}
.div,
.projectsDiv1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.projectsDiv1 {
  color: var(--white);
}
.frameDiv20 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.listOfMyProjects {
  position: absolute;
  top: 56px;
  left: 0;
  font-size: var(--font-size-base);
  color: var(--white);
  display: inline-block;
}
.titleDiv {
  position: absolute;
  top: 114px;
  left: 171px;
  width: 183px;
  height: 77px;
  font-size: var(--font-size-xl);
  color: var(--primary);
}
.rectangleIcon {
  position: relative;
  width: 330.58px;
  height: 202px;
  flex-shrink: 0;
  object-fit: cover;
}
.flaskDiv1,
.hTMLDiv {
  position: relative;
  display: inline-block;
}
.flaskDiv1 {
  display: none;
}
.frameDiv23,
.frameDiv24 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frameDiv23 {
  display: flex;
}
.frameDiv24 {
  display: none;
}
.chertNodesDiv {
  align-self: stretch;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.chertNodesDiv,
.liveDiv,
.minecraftServersHosting {
  position: relative;
  display: inline-block;
}
.minecraftServersHosting {
  align-self: stretch;
  color: var(--gray);
}
.liveDiv {
  font-weight: 500;
}
.frameDiv27,
.frameDiv28 {
  border: 1px solid var(--primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv28 {
  border: 1px solid var(--gray);
  color: var(--gray);
}
.frameDiv25 {
  align-self: stretch;
  border-top: 1px solid var(--gray);
  border-right: 0 solid var(--gray);
  border-bottom: 0 solid var(--gray);
  border-left: 0 solid var(--gray);
  display: flex;
  flex-direction: column;
  padding: var(--padding-md);
  gap: var(--gap-xl);
  color: var(--white);
}
.frameDiv25,
.frameDiv34,
.frameDiv39,
.projectDiv {
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.projectDiv {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  gap: var(--gap-0);
}
.frameDiv34,
.frameDiv39 {
  display: none;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-md);
}
.frameDiv34 {
  border: 1px solid var(--gray);
  color: var(--gray);
}
.frameDiv39 {
  border: 1px solid var(--primary);
}
.frameDiv21,
.frameDiv22,
.projectDiv2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv22 {
  flex-direction: row;
  gap: var(--gap-xl);
}
.frameDiv21,
.projectDiv2 {
  flex-direction: column;
}
.projectDiv2 {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 334px;
  flex-shrink: 0;
  gap: var(--gap-0);
}
.frameDiv21 {
  position: absolute;
  top: 55.48px;
  left: 0;
  gap: var(--gap-xl);
}
.smallProjectsDiv {
  position: relative;
  font-weight: 500;
  color: var(--white);
  display: inline-block;
}
.h2Div {
  position: absolute;
  height: 4.75%;
  width: 26.37%;
  top: 0;
  right: 69.58%;
  bottom: 95.25%;
  left: 4.05%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
  font-size: var(--font-size-xl);
  color: var(--primary);
}
.completeDiv {
  position: absolute;
  top: 293.52px;
  left: 171px;
  width: 1023.74px;
  height: 884.48px;
  color: var(--gray);
}
.rectangleIcon5 {
  position: relative;
  width: 330.58px;
  height: 201px;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.frameDiv54,
.h2Div1,
.projectDiv3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.projectDiv3 {
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 333px;
  flex-shrink: 0;
  gap: var(--gap-0);
}
.frameDiv54,
.h2Div1 {
  position: absolute;
  top: 90px;
  left: 0;
  gap: var(--gap-xl);
}
.h2Div1 {
  top: 0;
  flex-direction: row;
  gap: var(--gap-0);
  font-size: var(--font-size-xl);
  color: var(--primary);
}
.smallDiv {
  position: absolute;
  top: 1259px;
  left: 171px;
  width: 1025px;
  height: 828px;
  color: var(--gray);
}
.logoDiv1,
.unionDiv1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.unionDiv1 {
  background-color: var(--white);
}
.logoDiv1 {
  flex-shrink: 0;
}
.frameDiv106 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frameDiv106,
.headerLinkDiv {
  cursor: pointer;
}
.headerLinkDiv,
.headerLinkDiv1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.eNDiv {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 0;
}
.groupIcon1 {
  position: relative;
  width: 10px;
  height: 6.41px;
  flex-shrink: 0;
  z-index: 1;
}
.frameDiv108 {
  margin: 0 !important;
  position: absolute;
  top: 25px;
  left: 0;
  background-color: var(--background);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  height: 1px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  opacity: 0;
  z-index: 2;
}
.languageSwitcherDiv {
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-2xs);
  color: var(--gray);
}
.frameDiv107,
.headerDiv,
.languageSwitcherDiv {
  display: flex;
  flex-direction: row;
}
.frameDiv107 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  color: var(--primary);
}
.headerDiv {
  position: absolute;
  top: 0;
  left: 171px;
  background-color: var(--background);
  width: 1024px;
  padding: var(--padding-lg) 0 var(--padding-sm);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.githubIcon,
.line10Stroke {
  position: relative;
  width: 1px;
  height: 191px;
  flex-shrink: 0;
}
.githubIcon {
  width: 32px;
  height: 32px;
}
.frameDiv109 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.mediaDiv1,
.projectsDiv {
  background-color: var(--background);
}
.mediaDiv1 {
  position: absolute;
  top: 0;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.projectsDiv {
  position: relative;
  width: 100%;
  height: 2788px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-fira-code);
}
