.supportMeHere {
  position: relative;
  font-weight: 500;
  display: inline-block;
}
.cardIcon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.eliasDiv {
  position: relative;
  display: inline-block;
}
.frameDiv,
.mediaDiv,
.supportDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameDiv,
.supportDiv {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
  color: var(--gray);
}
.supportDiv {
  position: relative;
  background-color: var(--background);
  border: 1px solid var(--gray);
  box-sizing: border-box;
  width: 100%;
  padding: var(--padding-md);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-fira-code);
}
