.unsplashLtnPejWDSAYIcon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div,
.fromDiv,
.norwayB {
  color: var(--color-white);
  display: inline-block;
}
.norwayB {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  font-family: var(--font-roboto);
  text-align: left;
}
.div,
.fromDiv {
  position: absolute;
  text-align: right;
}
.div {
  top: 21px;
  left: 0;
  font-size: var(--font-size-5xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
  width: 90.92px;
}
.fromDiv {
  top: 0;
  left: 38.39px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--font-roboto);
  width: 52.53px;
}
.groupDiv {
  position: relative;
  width: 90.92px;
  height: 59px;
}
.destinationDetailsDiv {
  position: absolute;
  width: calc(100% - 0.59px);
  top: 0;
  right: 0.29px;
  left: 0.29px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-0);
}
.frameDiv {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-md);
  height: 182px;
  overflow: hidden;
}
.card3Button {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-sm);
  background-color: transparent;
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .card3Button {
    padding: var(--padding-sm);
    box-sizing: border-box;
    width: 50%;
  }
}
@media screen and (max-width: 427px) {
  .card3Button {
    width: 100%;
  }
}
